*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: #212121;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
}

main {
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;

}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/*! heder ------------------------------------- */
.logo {
    width: 80px;
    height: 40px;
    background-color: black;
    margin-right: auto;
}

.navigation-list {
    display: flex;
}

.navigation-item:not(:last-child) {
    margin-right: 20px;
}

.navigation-link {
    text-align: center;
    position: relative;
    padding: 20px 10px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-link:hover {
    color: rgb(255, 255, 255);
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%),
    0px 1px 1px rgb(0 0 0 / 14%),
    /* 0px 2px 1px rgb(0 0 0 / 20%) */
}

.navigation-link.activ::after {
            position: absolute;
         left: 0px;
            bottom: 0px;
            content: "";
            display: block;
            width: 100%;
            height: 4px;
            background-color:rgb(235, 235, 235);
            border-radius: 1px;
        }

.navigation-link.activ.dark-theme::after {
    background-color: #333333;
}
.heder {
    background-color: #bdbdbd;
}

.heder-container {
    display: flex;
    align-items: center;
    max-width: 2120px;
    margin: 0 auto;
    padding: 0px 60px;

}

.options-list {
    display: flex;
}

.options {
    margin-left: 100px;
}

.options-item:first-child {
    margin-right: 10px;
}

/* huhdhocod-------------------------------- */

body.light-theme {
    background-color: rgb(235, 235, 235);
    color: #212121;
}

body.dark-theme {
    background-color: #333333;
    color: #fff;
}

.footer-container.dark-theme a {
    color: #fff;
}

/* THEME SWITCH */

.theme-switch__icon {
    fill: white;
    height: 15px;
    width: 15px;
    margin-right: 8px;
    margin-left: 8px;

}

.switch {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid rgb(121, 120, 120);
    padding: 3px 0;
}

.switch--them {
    overflow: hidden
}

.theme-switch__track {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: transparent;
    user-select: none;
    background-color: #a4a4a4;
    border-radius: inherit;
    z-index: 1;
    cursor: pointer;
}

.theme-switch__marker {
    position: relative;
    background-color: #fff;
    width: 30px;
    height: 30px;
    /* border-radius: 50%; */
    z-index: 2;
    pointer-events: none;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25); */
    transform: translateX(-14px);
    transition: transform 250ms;
}

.theme-switch__toggle:checked+.theme-switch__track {
    background-color: #a4a4a4;
}

.theme-switch__toggle:checked~.theme-switch__marker {
    transform: translateX(13px);
}

/* .theme-switch__toggle:focus+.theme-switch__track,
.theme-switch__toggle:active+.theme-switch__track {
    box-shadow: 3px 3px 0 2px #a81212;
} *


/* lenguage----------------------------lenguage-switch */


.lenguage-switch__marker {
    /* position: absolute; */
    width: 26px;
    height: 26px;
    border-radius: 50%;
    pointer-events: none;
    z-index: 3;
}

.language-switch__toggle:checked~.languages-list {
    transform: translateY(45px);
}

.lenguage-switch__marker--en {
    background-position: 50% 50%;
    background-image: url(../img/en.png);
    background-size: cover;
}

.lenguage-switch__marker--pl {

    background-position: 50% 50%;
    background-image: url(../img/pl.png);
    background-size: cover;
}

.lenguage-switch__marker--ru {
    background-position: 50% 50%;
    background-image: url(../img/ru.png);
    background-size: cover;
}

.language-switch__track {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: transparent;
    user-select: none;
    background-color: #a4a4a4;
    border-radius: inherit;
    z-index: 1;
    cursor: pointer;

}

.languages-list {
    display: flex;
    position: relative;
    bottom: 45px;
    right: 90px;
    transition: transform linear 250ms;
}

.languages-list-item:not(:last-child) {
    margin-right: 3px;
}


/* heder and ------------------------------------- */

.search-filter {
   
    max-width: 400px;
    display: flex;
    margin: 0 auto;
}

.sf-btn {

    width: 200px;
    padding: 10px 0px;
    transition: font-weight linear 250ms;

}
.img-btn-wrapper {
    display: flex;
   
}
.img-list-icon {
    position: absolute;
    /* padding: 5px; */
    width: 20px;
    height: 20px;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
   
    opacity: 0;
    transition: opacity 150ms ;
    fill: rgb(148, 148, 148);
}
.img-btn-wrapper:hover .img-list-icon{
    opacity: 1;
}
.sf-btn:hover {
    font-weight: 500;
}
.sf-btn.activ {
    font-weight: 500;

}
.img-type-container {
position: relative;

}
.img-types {
    position: absolute;
    padding: 2px 20px;
    width: 100%;
    z-index:1;
    left: 50%;
    transform: translate(-50%, -20%);
    background-color:rgb(235, 235, 235, 0.9);
    opacity: 0;
pointer-events: none;
        transition: transform 250ms;
    
}
.img-types.open {
transform: translate(-50%, 0%);
pointer-events: auto;
opacity: 1;
}
.img-list-icon.open {
    opacity: 1;
}
.img-types-item {
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
}
.img-types-item.activ {
   background-color:rgb(246, 246, 246);
}

.form-wrapper {


    background-color: rgb(152, 152, 255);
    padding: 80px 20px;
    background-image: url(../img/base-bk.jpg);
    /* background-size: cover; */
    opacity: 0.8;
}

.search-form {
    margin: 0 auto;
    padding: 15px;
    /* min-width: 300px; */
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.form-input {
    font-size: 18px;
    color: rgb(85, 85, 85);
    padding: 0 20px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;

}

.form-input::placeholder {
    font-size: 18px;
}

.submit-btn {
    display: block;
    font-size: 25px;
    color: white;
    margin: 0 auto;
}

@media (min-width: 600px) {
    .search-form {
        display: flex;
        justify-content: center;
        max-width: 450px;
    }

    .form-input {
        /* min-width: 300px; */
        margin-right: 20px;
        margin-bottom: 0px;
    }

    .form-wrapper {
        padding: 80px;
    }
}

.gallery {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: -10px 0px ;
    /* align-items: center; */
    /* justify-content: space-around; */
}

.info {
    background-color: rgb(102, 102, 102, 0.6);
    font-size: 8px;
    display: flex;
    padding: 5px;
    height: 30px;
    width: 100%;
    /* justify-content: space-around; */
}

.info-item {
    color: #fff;

}

.photo-card {
    height: 270px;
    max-width: 400px;
    /* border: 2px solid rgb(126, 126, 126); */
    border-radius: 5px;
    /* margin-bottom: 20px; */
    overflow: hidden;
    position: relative;
}



.photo-card img {
    width: 400px;
    /* width: 400px; */
    height: 270px;
    object-fit: cover;

}

.gallery-container {
    /* background-color: rgba(100, 100, 100, 0.2);
        min-height: 100vh; */
    margin: 0 auto;
    max-width: 2140px;
    padding-bottom: 20px;
}

.load-more {
    display: block;
    margin: 0 auto;
}
.load-more.video {

    margin-top: 20px
}

.add-favorites {
    font-size: 15px;
    color: #000000;
    background-color: #808080;
}

/* footer===================== */
footer {
    background-color: #bdbdbd;
}

.footer-container {
    max-width: 2120px;
    padding: 20px 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.contacts-list {
    display: flex;
}

.contacts-link:not(:last-child) {
    margin-right: 10px;
}

.date {
    color: #000000;
    font-size: 13px;
    text-align: center;
    margin: 0 auto;
    background-color: #6e6e6e;
}

/*!sasha*/


.gallery {
    justify-content: center;

}

.info {
    align-items: center;
    justify-content: space-between;

    position: absolute;
    bottom: 0;
    transform: translateY(30px);


    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info-wrapper {
    display: flex;
    align-items: center;

}

.info-item--element {
    display: flex;
    align-items: center;
}

.photo-card:hover .info {
    transform: translateY(0);


}

/*! checkbox */

.add-favorites {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.custom-checkbox {
    cursor: pointer;
    height: 19px;
    width: 19px;
}

.add-favorites:checked~.custom-checkbox {
    fill: rgb(255, 208, 97);
}






@media screen and (max-width:899px) {
    .gallery {
        flex-direction: column;
        align-items: center;
    }

    .photo-card:not(:last-child) {
        margin-bottom: 20px;
    }
}

@media screen and (min-width:900px) {
    .photo-card {
        /* width: calc((100%-40px)/2); */
        margin: 10px;
    }
                .photo-card.video {
                    position: relative;
                    width: calc((100%-40px)/2);
                    /* margin-left: -5px; */
                }

    .gallery {
        /* width: calc(100% - 20px); */
        /* margin: -10px 0px; */
    }

}

.video-js {
    position: absolute;
    top: -20px;
    left: -120px;
    height: 350px;
    width: 580px;
}







